body {
  font-family: 'Press Start 2P';
  background:url("https://s-media-cache-ak0.pinimg.com/originals/de/71/bd/de71bd2903b8d94651417c867b5fac10.jpg");
background-color: #000000;
}
    
h1 {
  text-align: center;
  color: #FFFFFF;
}

h2 {
  text-align: center;
  color: #FFFFFF;
}

.hero {}
