body {
  font-family: 'Press Start 2P';
  background:url("https://s-media-cache-ak0.pinimg.com/originals/f7/41/ff/f741ffc24641631014ebccb764282335.jpg")no-repeat center scroll;
background-color: #000000;
}
    
h1 {
  text-align: center;
  color: #FFFFFF;
}

h2 {
  text-align: center;
  color: #FFFFFF;
}

.hero {}
